<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Comments</title>
  </head>
  <body>
    <form action="/comments/<%= comment.id %>?_method=patch" method="post">
      <section>
        <label for="text">Comments</label>
        <textarea name="text" id="text" cols="30" rows="5"><%= comment.text %></textarea>
      </section>

      <button type="submit">Send</button>
    </form>

    <a href="/comments">Back</a>
  </body>
</html>
